
<!-- Call to Action Section -->
<section class="cta-section">
    <div class="container">
        <h2 class="fw-bold">Ready to Choose Your Plan?</h2>
        <p>Sign up now and start taking control of your finances with Budgetly!</p>
        <a href="/prices" class="btn btn-outline-light btn-lg">Sign Up Today</a>
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 Budgetly. All Rights Reserved.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<style>
     .cta-section {
            padding: 160px 0;
            background-color: #343a40;
            color: white;
            text-align: center;
        }

        .footer {
            background-color: #212529;
            color: white;
            padding: 60px 0;
            text-align: center;
        }
</style>