{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Add Income</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'income' %}">Incomes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Incomes</li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Income Details</h5>
        </div>
        {% csrf_token %}
        <form action="{% url 'add-income' %}" method="POST">
            {% include 'partials/messages.html' %}
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label for="amount">Amount ({{currency}})</label>
                    <input type="number" class="form-control" id="amount" name="amount" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="form-group">
                    <label for="source">Source</label>
                    <select class="form-control" id="source" name="source" required>
                        <option value="" disabled selected>Select a source</option>
                        {% for source in sources %}
                            <option value="{{source.name}}" name="source">{{source.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
            </div>
            <div class="card-footer text-right">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock %}
